%body
  .side
    .side-bar_user-name
      = current_user.name
      .top-items__name 
      .top-items__edit-icons 
        = link_to new_group_path do
          = icon('far', 'edit')
      .top-items__cog-icons
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog')
    .side-bar_group-list
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .top-items__group
            = group.name
          .top-items__message-info 
            = group.show_last_message